body {
    font-family: Arial;
}

table {
    border-collapse: collapse;
    font-size: 12px;
}

td, th {
    padding: 4px;
    text-align: center;
}

select {
    width: 60px;
    font-weight: bold;
}

select option[value="出勤"] { background: #d4edda; }
select option[value="公休"] { background: #f8d7da; }
select option[value="希望休"] { background: #fff3cd; }
select option[value="有給"] { background: #cce5ff; }
